<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website Counter</title>
    <style>
        .container {
            position: fixed;
            top: 50%;
            left: 50%;
            margin-top: -100px;
            margin-left: -200px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Counter</h1>
        <p> {{request.session.someCount}} times.</p>
        <a href="/destroy_session">Go Back</a>
    </div>

</body>

</html>